body{
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.box {
  width: 470px;
  height: 470px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  background-color: #000;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 30px;
}

@media screen and (max-width:450px){
  .box {
    width: 300px;
    height: 300px;
  }
}

.box > a {
  text-indent:100%;
	white-space:nowrap;
  overflow:hidden;
  border-radius: 30px;
}
#red {
  background-color: #e74c3c;
}
#blue {
  background-color: #3498db;
}
#green {
  background-color: #2ecc71;
}
#gray {
  background-color: #95a5a6;
}
#yellow {
  background-color: #f1c40f;
}
#orange {
  background-color: #e67e22;
}
#purple {
  background-color: #9b59b6;
}
#black {
  background-color: #2c3e50;
}
#white {
  background-color: #ecf0f1;
}
